html {
  height:100%;
}
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc857+0,ffb41e+100 */
  background: #ffc857; /* Old browsers */
  background: -moz-linear-gradient(top, #ffc857 0%, #ffb41e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffc857 0%,#ffb41e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffc857 0%,#ffb41e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc857', endColorstr='#ffb41e',GradientType=0 ); /* IE6-9 */
  height:100%;
}

#list-wrapper {
  background:white;
  @include border-radius(3px);
  border:1px solid #eab53a;
  width:60%;
  margin:50px auto 0;
  padding:25px 50px 50px;
  // box-shadow: 0px 10px 100px rgba(158, 109, 12, 1);
  box-shadow: 0 10px 25px rgba(158, 109, 12, 0.4),
    0 20px 15px rgba(255 , 200, 87, .05);
  form {
    input#toDoItem {
      padding:10px;
      width:40%;
      font-size:16px;
    }
    input#addToDo {
      font-size:20px;
    }
  }
  ul {
    padding-left:0;
    border-bottom:1px solid $grey-light;
    li {
      list-style:none;
      border:1px solid $grey-light;
      border-bottom:none;
      background:$grey-xlight;
      display:flex;
      flex-direction:row;
      .handle {
        width:2%;
        padding:20px;
        border-right:1px solid $grey-light;
      }
      .item-content {
        width:96%;
        padding:20px;
      }
      .removeListItem {
        width:2%;
        padding:20px;
        border-left:1px solid $grey-light;
      }
      input {
        background:none;
        border:none;
        font-size:15px;
        width:80%;
      }
      .removeListItem {
        cursor:pointer;
      }
      &.active-edit .item-content {
        background: $white;
      }
    }
  }
}

.btn {
  background:red;
  color:$white;
  padding:10px 15px;
  margin-right:10px;
  @include border-radius(3px);
}

.hide {
  display:none;
}

