body {
  background:blue;
}

#list-wrapper {
  background:white;
  @include border-radius(3px);
  width:60%;
  margin:50px auto 0;
  padding:25px 50px 50px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
  form {
    input#toDoItem {
      padding:10px;
      width:40%;
      font-size:16px;
    }
    input#addToDo {
      font-size:20px;
    }
  }
  ul {
    padding-left:0;
    border-bottom:1px solid $grey-light;
    li {
      list-style:none;
      border:1px solid $grey-light;
      border-bottom:none;
      background:$grey-xlight;
      display:flex;
      flex-direction:row;
      .handle {
        width:2%;
        padding:20px;
        border-right:1px solid $grey-light;
      }
      .item-content {
        width:96%;
        padding:20px;
      }
      .removeListItem {
        width:2%;
        padding:20px;
        border-left:1px solid $grey-light;
      }
      input {
        background:none;
        border:none;
        font-size:15px;
        width:80%;
      }
      .removeListItem {
        cursor:pointer;
      }
      &.active-edit .item-content {
        background: $white;
      }
    }
  }
}

.btn {
  background:red;
  color:$white;
  padding:10px 15px;
  margin-right:10px;
  @include border-radius(3px);
}

.hide {
  display:none;
}

