body {
  font-family: helvetica, arial, sans-serif; }

body {
  background: blue; }

#list-wrapper {
  background: white;
  width: 60%;
  margin: 50px auto 0;
  padding: 25px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4); }
  #list-wrapper h1 {
    text-align: center; }
  #list-wrapper form input#toDoItem {
    padding: 10px;
    width: 40%;
    font-size: 16px; }
  #list-wrapper form input#addToDo {
    font-size: 20px; }
  #list-wrapper ul {
    padding-left: 0;
    border-bottom: 1px solid #dddddd; }
    #list-wrapper ul li {
      list-style: none;
      border: 1px solid #dddddd;
      border-bottom: none;
      background: #f4f4f4;
      display: flex;
      flex-direction: row; }
      #list-wrapper ul li .handle {
        width: 2%;
        padding: 20px;
        border-right: 1px solid #dddddd; }
      #list-wrapper ul li .item-content {
        width: 96%;
        padding: 20px; }
      #list-wrapper ul li .removeListItem {
        width: 2%;
        padding: 20px;
        border-left: 1px solid #dddddd; }
      #list-wrapper ul li input {
        background: none;
        border: none;
        font-size: 15px;
        width: 80%; }
      #list-wrapper ul li .removeListItem {
        cursor: pointer; }
      #list-wrapper ul li.active-edit .item-content {
        background: #ffffff; }

.hide {
  display: none; }
