body {
  font-family: helvetica, arial, sans-serif; }

body {
  background: blue; }

#list-wrapper {
  background: white;
  width: 60%;
  margin: 50px auto 0;
  padding: 25px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4); }
  #list-wrapper h1 {
    text-align: center; }
  #list-wrapper form input#toDoItem {
    padding: 10px;
    width: 40%;
    font-size: 16px; }
  #list-wrapper form input#addToDo {
    font-size: 20px; }
  #list-wrapper ul {
    padding-left: 0;
    border-bottom: 1px solid #dddddd; }
    #list-wrapper ul li {
      position: relative;
      list-style: none;
      border: 1px solid #dddddd;
      border-bottom: none;
      background: #f4f4f4;
      padding: 20px; }
      #list-wrapper ul li .removeListItem {
        position: absolute;
        display: block;
        padding: 10px;
        right: 20px;
        top: 10px;
        cursor: pointer; }

.hide {
  display: none; }
