/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: helvetica, arial, sans-serif;
  color: #1c2733; }

h1 {
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 20px; }

a {
  text-decoration: none;
  color: #1c2733; }

html {
  height: 100%; }

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc857+0,ffb41e+100 */
  background: #ffc857;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffc857 0%, #ffb41e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffc857 0%, #ffb41e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffc857 0%, #ffb41e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc857', endColorstr='#ffb41e',GradientType=0 );
  /* IE6-9 */
  height: 100%; }

#list-wrapper {
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #eab53a;
  width: 50%;
  margin: 50px auto 0;
  padding: 50px 50px 50px;
  box-shadow: 0 10px 25px rgba(158, 109, 12, 0.4), 0 20px 15px rgba(255, 200, 87, 0.05); }
  #list-wrapper form#listForm {
    display: block; }
    #list-wrapper form#listForm input#toDoItem {
      padding: 0 10px;
      width: 75%;
      font-size: 16px;
      min-height: 38px; }
    #list-wrapper form#listForm input#addToDo {
      position: relative;
      width: 20%;
      left: -5px;
      font-size: 20px;
      background: #1c2733;
      border: 1px solid #1c2733;
      padding: 5px 15px;
      min-height: 42px;
      color: #ffffff;
      font-size: 1em;
      cursor: pointer;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      -webkit-border-bottom-left-radius: 0;
      border-bottom-left-radius: 0;
      -webkit-border-top-left-radius: 0;
      border-top-left-radius: 0; }
  #list-wrapper ul {
    padding-left: 0;
    display: block; }
    #list-wrapper ul li {
      list-style: none;
      border: 1px solid #dddddd;
      border-bottom: none;
      background: #f4f4f4;
      display: flex;
      flex-direction: row; }
      #list-wrapper ul li .handle {
        width: 2%;
        padding: 20px;
        border-right: 1px solid #dddddd; }
      #list-wrapper ul li .item-content {
        width: 96%;
        padding: 20px; }
      #list-wrapper ul li .removeListItem {
        width: 2%;
        padding: 20px;
        border-left: 1px solid #dddddd; }
      #list-wrapper ul li input {
        background: none;
        border: none;
        font-size: 15px;
        width: 80%; }
      #list-wrapper ul li .removeListItem {
        cursor: pointer; }
      #list-wrapper ul li.active-edit .item-content {
        background: #ffffff; }
      #list-wrapper ul li:last-child {
        border-bottom: 1px solid #dddddd; }
    #list-wrapper ul.has-items {
      padding: 40px 0; }

#input-alert {
  padding-top: 15px;
  display: block; }

.btn {
  background: #1c2733;
  color: #ffffff;
  padding: 10px 15px;
  margin-right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.hide {
  display: none; }
